body {
    font-family: Arial, Helvetica, sans-serif;
}

.h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-control {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-check-label {
    font-family: sans-serif;
}

.form-check-input {
    cursor: pointer;
}